@model HomeDashboardWeb.ViewModel.DashboardViewModel


<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
            <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="100"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
            <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Buzzwords" data-moreinfo="# of times said around the office"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
            <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div>
        </li>
    </ul>
    <center><div style="font-size: 12px">Try this: curl -d "{ 'auth_token': 'YOUR_AUTH_TOKEN', 'text': 'Hey, Look what I can do!' }" </div></center>
</div>

<div class="ui six column doubling stackable grid container segment">
    <div class="column" style="background-color: #ec663c">
        <p><b>Glycémie Jeremy</b></p>
        <p>@Model.JeremyGC↘︎→︎</p>
    </div>
    <div class="column">
        <p><b>Glycémie Maxime</b></p>
        <p>@Model.JeremyGC↘︎→︎</p>
    </div>
</div>
<div class="ui six column doubling stackable grid container segment">
    <div class="column">
        <p><iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=forgetrieux%40gmail.com&amp;color=%235229A3" style="border-width:0" width="1000" height="400" frameborder="0" scrolling="no"></iframe></p>
    </div>
</div>

<div class="ui six column doubling stackable grid container segment">
    <div class="column">
        <p><b>Glycémie Jeremy</b></p>
        <p>@Model.JeremyGC</p>↘︎→︎
    </div>
    <div class="column">
        <p>Test 2</p>
    </div>
    <div class="column">
        <p>Test 2</p>
    </div>
    <div class="column">
        <p>Test 2</p>
    </div>
    <div class="column">
        <p>Test 2</p>
    </div>
    <div class="column">
        <p>Test 2</p>
    </div>
    <div class="column">
        <p>Test 2</p>
    </div>
    <div class="column">
        <p>Test 2</p>
    </div>
</div>
